html, body {
    margin: 0;
    padding: 0;
    /* height: 200vh; */
    width: 100%;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow-x: hidden;
}

.btn {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
}

.hidden {
    display: none !important;
}

.navbar {
    background-color: #3333337a;
    overflow: hidden;
    height: 10vh;
    width: calc(100% - 8px);
    margin-left: 4px;
    margin-top: 5px;
    display: flex;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: #414141 1px solid;
    position: fixed;
    z-index: 10;
}

.navbar h1 {
    color: white;
    text-align: center;
    line-height: 10vh;
    margin: 0 auto;
}

.space {
    height: 11vh;
    width: 100%;
    margin: 0px;
}

.sidebar {
    height: calc(100vh - 10vh - 10px);
    max-width: 18vw;
    min-width: 200px;
    position: fixed;
    /* top: 10vh; */
    top: 5px;
    left: 5px;
    background-color: #2c2c2c;
    padding-top: 11vh;
    border: #414141 1px solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    margin-top: 10px;
    margin-left: 2px;
    height: auto;
    width: 95%;
    border-radius: 12px;
    border: #414141 1px solid;
    padding: 12px 2px;
}

.file-picker {
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto;
}

.file-picker input {
    width: auto;
    margin-top: 5px;
    padding: 4px 0px;
    border-radius: 8px;
    border: none;
    background-color: #414141;
    color: white;
    cursor: pointer;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    right: 18px;
    bottom: 18px;
    font-size: 17px;
}

.show {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.content {
    margin-left: max(250px, 17vw);
    padding-top: 1.5vh;
    height: calc(100vh - 10vh - 20px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.file {
    display: flex;
    flex-direction: column;
    max-width: 12vw;
    align-items: center;
    margin: 10px;
    padding: 8px;
    border-radius: 12px;
    border: #414141 1px solid;
    cursor: pointer;
    transition-duration: 0.2s;
}

.file:hover {
    box-shadow: 0 0 10px #555;
}

.file img {
    min-height: 0;
    object-fit: cover;
    border-radius: 12px;
    border: #414141 1px solid;
}

.viewer-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 20;
    transition-duration: 0.3s;
}

.viewer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    max-height: 90vh;
    min-height: 80vh;
    min-width: 80vw;
    border-radius: 12px;
    border: #414141 1px solid;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.viewer-head {
    height: 40px;
    width: 100%;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
}

.viewer-head span {
    color: white;
    position: absolute;
    font-size: 18px;
    margin-top: 1.5vh;
    margin-left: 1vw;
    text-align: unset !important;
}

.viewer-head .btn {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.viewer-content {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#viewer-content img, #viewer-content video {
    max-width: clamp(300px, 80vw, 900px);
    /* max-height: 80%; */
    /* width: 90%; */
    border-radius: 12px;
    border: #414141 1px solid;
}

.controls {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 10px;
}

.controls img {
    height: clamp(30px, 2vh, 80px);
    filter: invert();
}

.controls img:hover {
    filter: invert(90%) sepia(90%) saturate(1300%) hue-rotate(332deg) contrast(0.5) invert(100%) hue-rotate(334deg) saturate(1.5) saturate(0.5);
    transition-duration: 0.1s;
}

.controls #delete-btn:hover {
    filter: invert();
    transition-duration: 0.1s;
}

.controls #delete-btn:hover {
    filter: invert(90%) sepia(90%) saturate(1300%) hue-rotate(332deg) contrast(0.5) invert(100%) hue-rotate(123deg) saturate(1.5)
}

.edit-filename-box {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 12px;
    border: #414141 1px solid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    text-align: center;
    min-width: 300px;
}

.edit-filename-box h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: white;
}

.edit-filename-box input {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: #414141 1px solid;
    background-color: #1b1b1b;
    color: white;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #414141;
    color: white;
    cursor: pointer;
}